Cau3.txt
[{"id":"c4c60c22.2e8f68","type":"inject","z":"8cc7059f.776f38","name":"","topic":"","payload":"welcome to hutech","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":368,"y":305,"wires":[["fe9d53dc.ca2f68"]]},{"id":"fe9d53dc.ca2f68","type":"function","z":"8cc7059f.776f38","name":"HAM_CHUYEN_DOI","func":"var result = {};\nvar strings = msg.payload;\nvar array_with_split = [];\narray_with_split = strings.split(' ');\nvar array_temp = [];\narray_with_split.forEach(string => {\n    array_temp.push(string.charAt(0).toUpperCase() + string.slice(1))\n})\nresult.payload = array_temp.join(' ');\nreturn result;","outputs":1,"noerr":0,"x":657,"y":298,"wires":[["f5a37b4e.13777"]]},{"id":"f5a37b4e.13777","type":"debug","z":"8cc7059f.776f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":868,"y":299,"wires":[]}]