Cau4.txt
[{"id":"2557ebed.04de24","type":"inject","z":"d7c043ac.b567e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":288,"y":279,"wires":[["b33c02c7.b45c58"]]},{"id":"b33c02c7.b45c58","type":"function","z":"d7c043ac.b567e","name":"GENERATE-HUM-TEM","func":"const result = {};\nconst temp = Math.floor(Math.random()*(40-20+1)+20);\nif (temp <= 25) {\n    result.payload = {\n        \"result\": 0,\n        \"message\": \"LOWER 25\"\n    }\n} else if (temp >= 32){\n    result.payload = {\n        \"result\": 1,\n        \"message\": \"OVER 32\"\n    }\n} else {\n    result.payload = {\n        \"result\": 2,\n        \"message\": \"NORMAL\"\n    }\n}\n\nreturn result;\n// return result;\n// const result = {};\n// result.payload = Math.floor(Math.random()*(40-20+1)+20);\n// result.test = 1;\n// return result;","outputs":1,"noerr":0,"x":510,"y":336,"wires":[["ff89fef2.ecc66"]]},{"id":"ea7ea283.7a5d98","type":"debug","z":"d7c043ac.b567e","name":"TEST_WITH_OBJECT_BEFORE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":872,"y":292,"wires":[]},{"id":"ff89fef2.ecc66","type":"switch","z":"d7c043ac.b567e","name":"","property":"payload.result","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":709,"y":408,"wires":[["98f14932.52303"],["3860400a.19a5d8"],["37ec68c2.b9895"]]},{"id":"98f14932.52303","type":"debug","z":"d7c043ac.b567e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.message","x":1050,"y":389,"wires":[]},{"id":"3860400a.19a5d8","type":"debug","z":"d7c043ac.b567e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.message","x":1015,"y":456,"wires":[]},{"id":"37ec68c2.b9895","type":"debug","z":"d7c043ac.b567e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.message","x":1059,"y":521,"wires":[]}]