Cau6.txt
[{"id":"ede20dab.da194","type":"mqtt out","z":"a24a31a1.12286","name":"OLPC-04/SENSOR02","topic":"olpc-04/sensor02","qos":"2","retain":"false","broker":"7036972.d85a5e8","x":927,"y":268,"wires":[]},{"id":"6c3b4b55.cd4904","type":"inject","z":"a24a31a1.12286","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":233,"y":195,"wires":[["41e333a6.40aa24"]]},{"id":"41e333a6.40aa24","type":"function","z":"a24a31a1.12286","name":"RANDOM_WITH_BETTWEN_20_AND_40","func":"const result = {};\nconst random_number = Math.floor(Math.random()*(1400-280+1)+280);\nresult.payload = {\n    \"tds\": random_number\n};\nreturn result;","outputs":1,"noerr":0,"x":566,"y":192,"wires":[["ede20dab.da194"]]},{"id":"c3f7f8b8.33001","type":"mqtt in","z":"a24a31a1.12286","name":"","topic":"olpc-04/sensor02","qos":"2","broker":"7036972.d85a5e8","x":389,"y":426,"wires":[["2951e86d.8aad5"]]},{"id":"94bc17ad.46e4","type":"debug","z":"a24a31a1.12286","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":836,"y":377,"wires":[]},{"id":"2951e86d.8aad5","type":"function","z":"a24a31a1.12286","name":"UPDATE_CONVERT_TO_JSON","func":"msg.payload = JSON.parse(msg.payload).tds;\nreturn msg;","outputs":1,"noerr":0,"x":565,"y":579,"wires":[["94bc17ad.46e4","384f6c83.93b99c"]]},{"id":"5dae11d0.79f858","type":"comment","z":"a24a31a1.12286","name":"TDT_RANDOM","info":"","x":504,"y":134,"wires":[]},{"id":"92397715.7b781","type":"debug","z":"a24a31a1.12286","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":912,"y":145,"wires":[]},{"id":"384f6c83.93b99c","type":"ui_chart","z":"a24a31a1.12286","name":"","group":"9dbc37e0.e53eb","order":0,"width":0,"height":0,"label":"TDS_CAU_6","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"280","ymax":"1400","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":911,"y":441,"wires":[[],[]]},{"id":"7036972.d85a5e8","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"xsadsadasd25sa6dsad6asd5sad6","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9dbc37e0.e53eb","type":"ui_group","z":"","name":"CAU_GROUP_DASHBOARD","tab":"dc564cc.47727b","disp":true,"width":"6","collapse":false},{"id":"dc564cc.47727b","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]