Cau7.txt
[{"id":"fb44a70d.20cbe","type":"mqtt out","z":"e1d6f26f.d264e8","name":"OLPC-04/SENSOR03","topic":"olpc-04/sensor03","qos":"2","retain":"false","broker":"7036972.d85a5e8","x":883,"y":290,"wires":[]},{"id":"162035d5.5ed43a","type":"inject","z":"e1d6f26f.d264e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":189,"y":217,"wires":[["5bda95f2.4d44ec"]]},{"id":"5bda95f2.4d44ec","type":"function","z":"e1d6f26f.d264e8","name":"RANDOM_WITH_BETTWEN_TWO_NUMBER","func":"const result = {};\nconst EC_RANDOM = (Math.random() * (2.4 - 0.5) + 0.5).toFixed(4);\n// const EC_RANDOM = Math.floor(Math.random()*(2.4-0.5+1)+0.5);\nconst HUM_RANDOM = Math.floor(Math.random()*(80-40+1)+40);\nresult.payload = {\n    \"ec\": EC_RANDOM,\n    \"humi\": HUM_RANDOM\n};\nreturn result;","outputs":1,"noerr":0,"x":532,"y":214,"wires":[["fb44a70d.20cbe","e66877d.df92988"]]},{"id":"5f420311.c42fc4","type":"mqtt in","z":"e1d6f26f.d264e8","name":"OLPC-04-SENSOR03","topic":"olpc-04/sensor03","qos":"2","broker":"7036972.d85a5e8","x":365,"y":448,"wires":[["178ece20.326a8a"]]},{"id":"e66877d.df92988","type":"debug","z":"e1d6f26f.d264e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":792,"y":399,"wires":[]},{"id":"178ece20.326a8a","type":"function","z":"e1d6f26f.d264e8","name":"UPDATE_CONVERT_TO_JSON","func":"const temp = JSON.parse(msg.payload);\nline1 = { topic: 'line1', payload: temp.ec }; \nline2 = { topic: 'line2', payload: temp.humi };   \n\nreturn [line1, line2]","outputs":2,"noerr":0,"x":521,"y":601,"wires":[["e8235ed2.cac518"],["e8235ed2.cac518"]]},{"id":"d626aee8.af3cc8","type":"comment","z":"e1d6f26f.d264e8","name":"EC_HUM_RANDOM","info":"","x":470,"y":156,"wires":[]},{"id":"e8235ed2.cac518","type":"ui_chart","z":"e1d6f26f.d264e8","name":"","group":"9dbc37e0.e53eb","order":0,"width":0,"height":0,"label":"EC_HUMI_CAU_7","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0.5","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":899,"y":557,"wires":[[],[]]},{"id":"7036972.d85a5e8","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"xsadsadasd25sa6dsad6asd5sad6","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9dbc37e0.e53eb","type":"ui_group","z":"","name":"CAU_GROUP_DASHBOARD","tab":"dc564cc.47727b","disp":true,"width":"6","collapse":false},{"id":"dc564cc.47727b","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]