Cau8.txt
[{"id":"cbd93aed.e18c28","type":"mqtt in","z":"43107e15.76a5c8","name":"OLPC-04-SENSOR03","topic":"olpc-04/sensor03","qos":"2","broker":"7036972.d85a5e8","x":339,"y":177,"wires":[["624c77d7.1d9ab8"]]},{"id":"624c77d7.1d9ab8","type":"function","z":"43107e15.76a5c8","name":"UPDATE_CONVERT_TO_JSON","func":"const temp = JSON.parse(msg.payload);\n// ec = { topic: 'olpc-ec-1-ec', payload: temp.ec }; \n// humi = { topic: 'olpc-ec-1-humi', payload: temp.humi };   \ndata = {topic: 'olpc-ec-humi', payload: temp};\nreturn data;","outputs":1,"noerr":0,"x":703,"y":177,"wires":[["847ef0aa.f14118"]]},{"id":"10d05186.e3c506","type":"mqtt in","z":"43107e15.76a5c8","name":"","topic":"olpc-04/sensor1","qos":"2","broker":"7036972.d85a5e8","x":349,"y":458,"wires":[["2c37ecae.136f7c"]]},{"id":"2c37ecae.136f7c","type":"function","z":"43107e15.76a5c8","name":"UPDATE_CONVERT_TO_JSON","func":"msg.payload = JSON.parse(msg.payload);\nsensor_1 = { topic: 'olpc-sensor-1', payload: msg.payload };   \nreturn sensor_1;","outputs":1,"noerr":0,"x":695,"y":462,"wires":[["825d31cd.7bbe18"]]},{"id":"e5d99a83.3011f8","type":"mqtt in","z":"43107e15.76a5c8","name":"","topic":"olpc-04/sensor02","qos":"2","broker":"7036972.d85a5e8","x":334,"y":305,"wires":[["2e583786.badd6"]]},{"id":"2e583786.badd6","type":"function","z":"43107e15.76a5c8","name":"UPDATE_CONVERT_TO_JSON","func":"msg.payload = JSON.parse(msg.payload);\nsensor_2 = { topic: 'olpc-sensor-2', payload: msg.payload };   \nreturn sensor_2;","outputs":1,"noerr":0,"x":681,"y":304,"wires":[["262766bb.d3718a"]]},{"id":"847ef0aa.f14118","type":"mongodb2 in","z":"43107e15.76a5c8","service":"_ext_","configNode":"62256ac0.b6fd5c","name":"SENSOR3 SAVE MONGODB","collection":"sensor-3","operation":"insert","x":1070,"y":178,"wires":[["55b662dd.da7b9c"]]},{"id":"262766bb.d3718a","type":"mongodb2 in","z":"43107e15.76a5c8","service":"_ext_","configNode":"62256ac0.b6fd5c","name":"SENSOR2 SAVE MONGODB","collection":"sensor-2","operation":"insert","x":1038,"y":315,"wires":[["55b662dd.da7b9c"]]},{"id":"55b662dd.da7b9c","type":"debug","z":"43107e15.76a5c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1379,"y":377,"wires":[]},{"id":"825d31cd.7bbe18","type":"mongodb2 in","z":"43107e15.76a5c8","service":"_ext_","configNode":"62256ac0.b6fd5c","name":"SENSOR1 SAVE MONGODB","collection":"sensor-1","operation":"insert","x":1016,"y":471,"wires":[["55b662dd.da7b9c"]]},{"id":"7036972.d85a5e8","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"xsadsadasd25sa6dsad6asd5sad6","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"62256ac0.b6fd5c","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/db-temp1","name":"","options":"","parallelism":"-1"}]