Cau9.txt
[{"id":"b313c1cc.1a55e8","type":"mongodb2 in","z":"463cf34e.da7134","service":"_ext_","configNode":"62256ac0.b6fd5c","name":"","collection":"sensor-1","operation":"aggregate.toArray","x":636,"y":242,"wires":[["300f62c4.bc7ca6"]]},{"id":"300f62c4.bc7ca6","type":"function","z":"463cf34e.da7134","name":"LAY_PHAN_TU_CUOI_CUNG","func":"msg.payload = msg.payload[msg.payload.length-1]\nmsg.topic = 'sensor-1/topic1';\nreturn msg;","outputs":1,"noerr":0,"x":583.11669921875,"y":358.36669921875,"wires":[["d30aef3f.b52bf"]]},{"id":"76b399bb.f1ba2","type":"inject","z":"463cf34e.da7134","name":"GET DATA SENSOR 1","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":216,"y":238,"wires":[["b313c1cc.1a55e8"]]},{"id":"45690700.304d68","type":"mongodb2 in","z":"463cf34e.da7134","service":"_ext_","configNode":"62256ac0.b6fd5c","name":"","collection":"sensor-2","operation":"aggregate.toArray","x":640,"y":500,"wires":[["4d770242.11874c"]]},{"id":"4d770242.11874c","type":"function","z":"463cf34e.da7134","name":"LAY_PHAN_TU_CUOI_CUNG","func":"msg.payload = msg.payload[msg.payload.length-1]\nmsg.topic = 'sensor-2/topic2';\nreturn msg;","outputs":1,"noerr":0,"x":587.11669921875,"y":616.36669921875,"wires":[["d30aef3f.b52bf"]]},{"id":"8767463c.f23a","type":"inject","z":"463cf34e.da7134","name":"GET DATA SENSOR 2","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":213,"y":496,"wires":[["45690700.304d68"]]},{"id":"4116c29d.9e5504","type":"mongodb2 in","z":"463cf34e.da7134","service":"_ext_","configNode":"62256ac0.b6fd5c","name":"","collection":"sensor-3","operation":"aggregate.toArray","x":616,"y":727,"wires":[["30c88c6f.cfcefc"]]},{"id":"30c88c6f.cfcefc","type":"function","z":"463cf34e.da7134","name":"LAY_PHAN_TU_CUOI_CUNG","func":"msg.payload = msg.payload[msg.payload.length-1]\nreturn msg;","outputs":1,"noerr":0,"x":561.11669921875,"y":843.36669921875,"wires":[["a114172b.81c688"]]},{"id":"45b821ce.b419a","type":"inject","z":"463cf34e.da7134","name":"GET DATA SENSOR 3","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":212,"y":723,"wires":[["4116c29d.9e5504"]]},{"id":"a114172b.81c688","type":"function","z":"463cf34e.da7134","name":"FUNCTION OUTPUT CHART","func":"const temp = msg.payload\nline1 = { topic: 'line1', payload: temp.ec }; \nline2 = { topic: 'line2', payload: temp.humi }; \nreturn [line1, line2];","outputs":2,"noerr":0,"x":1092,"y":722,"wires":[["e52e9800.66629"],["e52e9800.66629"]]},{"id":"e52e9800.66629","type":"ui_chart","z":"463cf34e.da7134","name":"","group":"9dbc37e0.e53eb","order":0,"width":0,"height":0,"label":"CAU_9_CL_1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1097,"y":818,"wires":[[],[]]},{"id":"a447940e.1fd1f","type":"debug","z":"463cf34e.da7134","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":928,"y":919,"wires":[]},{"id":"d30aef3f.b52bf","type":"function","z":"463cf34e.da7134","name":"FUNCTION OUTPUT CHART","func":"const temp = msg;\nvar line1 = {}, line2 = {};\nif (temp.topic==='sensor-1/topic1'){\n    line1 = { topic: 'line1', payload: temp.payload.temp };     \n}\nif (temp.topic==='sensor-2/topic2'){\n    line2 = { topic: 'line2', payload: temp.payload.tds }; \n}\nreturn [line1, line2];","outputs":2,"noerr":0,"x":1150,"y":502,"wires":[["5f327f6f.dc62e"],["5f327f6f.dc62e"]]},{"id":"5f327f6f.dc62e","type":"ui_chart","z":"463cf34e.da7134","name":"","group":"9dbc37e0.e53eb","order":0,"width":0,"height":0,"label":"CAU_9_COL_2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"1270","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1086,"y":591,"wires":[[],[]]},{"id":"24cba81f.f9d86","type":"debug","z":"463cf34e.da7134","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1247,"y":662,"wires":[]},{"id":"62256ac0.b6fd5c","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/db-temp1","name":"","options":"","parallelism":"-1"},{"id":"9dbc37e0.e53eb","type":"ui_group","z":"","name":"CAU_GROUP_DASHBOARD","tab":"dc564cc.47727b","disp":true,"width":"6","collapse":false},{"id":"dc564cc.47727b","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]